.menu {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  :nth-child(2) {
    border-right: none;
    border-left: none;
  }
  :nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  :nth-child(3) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.menu-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #4a4a4a;
  background-color: #fff;
  padding: 15px;
  line-height: 20px;
  border: 1px solid #dfe5ec;
  cursor: pointer;
  &:hover {
    background-color: #f1fcff;
  }
  &--selected {
    color: #fff;
    background-color: #2196f3;
    border-color: #2196f3;
    &:hover {
      background-color: #2196f3;
    }
  }
}
