html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #4a4a4a;
  background-color: #e3e3e3;
}

.app {
  max-width: 960px;
  margin: 0 auto;
  background-color: #f3f7fa;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 40px;

  @media (max-width: 959px) {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.main {
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;

  @media (max-width: 959px) {
    display: grid;
    justify-content: unset;
  }

  @media (max-width: 600px) {
    margin: 0 20px;
  }
}

.content {
  width: 502px;

  @media (max-width: 959px) {
    width: 100%;
  }
}
